.apple_black {
  color: #1d1d1f;
  
}

.dark_gray {
  color: #86868B;
}

.light_gray {
  color: #C6C6CA;
}

.store_light_gray {
  color: #6e6e73;
}

.store_dark_gray {
  color: #211b1d;
}


.hover_highlight {
  background-color: #1D1D1F;
}

.almost_white {
  color: #E3E3E8;
}

.glow {
  transition: color 0.5s ease;
}

.glow:hover {
  color: white;
}

.glow_dark {
  transition: color 0.5s ease;
}

.glow_dark:hover {
  color: black;
}

.header_color {
  background-color: #161617;
  /* background-color: rgba(23, 23, 24, 0.9); */
}

.white_header_color {
  background-color: #FAFAFC;
}

.blur_element {
  backdrop-filter: blur(8px);
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  /* Prevent horizontal scrollbar from appearing for carousel's overflow visible */
  overflow-x: hidden !important; 
}