.apple_black {
  color: #1d1d1f;
  
}

.dark_gray {
  color: #86868B;
}

.light_gray {
  color: #C6C6CA;
}

.hover_highlight {
  background-color: #1D1D1F;
}

.almost_white {
  color: #E3E3E8;
}

.glow {
  transition: color 0.5s ease;
}

.glow:hover {
  color: white;
}

.header_color {
  background-color: #161617;
  /* background-color: rgba(23, 23, 24, 0.9); */

}

.blur_element {
  backdrop-filter: blur(8px);
}