.desc_shadow {
    text-shadow: 
        0px 0px 10px rgba(0, 0, 0, 0.6),   /* Bottom right shadow */
        -1px 0px 10px rgba(0, 0, 0, 0.6),   /* Bottom right shadow */
       
}

.apple_font {
    font-family: "SF Pro Display"
}

.carousel .react-multi-carousel-item {
    opacity: 0.5;
    /* transition: opacity 0.3s ease, margin 0.3s ease;  */
    /* when it reaches first element, it flashes between the class (my thought) so it loses  */
    padding-left: 184px;

}

.carousel .react-multi-carousel-item--active {
    /* margin: 0px 40px; */
    padding-left: 184px;
    opacity: 1;
}





/* .carousel > li:not(.react-multi-carousel-item--active) > * {
    opacity: 0.5;
} */