.chapterNavSwiper .swiper-button-prev {
  bottom: unset;
  left: unset;
  top: 10% !important;
  right: 100% !important;
  background-color: #fafafc;
  color: rgba(0, 0, 0, 0.64) !important;
  min-width: 36px;
  min-height: 100px;
  border-radius: 0px;
  border-right-width: 1px;
  border-color: #d2d2d7;
  transition: opacity 500ms ease-in-out;
  position: absolute;

  &:hover {
    /* background-color: rgba(234, 234, 240, 0.64); */
    background-color: transparent;
    cursor: pointer;
  }
}

.chapterNavSwiper .swiper-button-next {
  bottom: unset;
  right: unset;
  top: 10% !important;
  left: 100% !important;
  background-color: #fafafc;
  color: rgba(0, 0, 0, 0.64) !important;
  min-width: 36px;
  min-height: 100px;
  border-radius: 0px;
  border-left-width: 1px;
  border-color: #d2d2d7;
  transition: opacity 500ms ease-in-out;
  position: absolute;

  &:hover {
    /* background-color: rgba(234, 234, 240, 0.64); */
    background-color: transparent;
    cursor: pointer;
  }
}

.chapterNavSwiper .swiper-button-prev:after,
.chapterNavSwiper .swiper-button-next:after {
  display: grid;
  place-items: center;
  font-size: 15px !important;
  font-weight: 900 !important;
}

.chapterNavSwiper > .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.3, 0.59, 0.45, 1) !important;
}
