button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right {
  bottom: calc(0% + 1px);
  right: calc(2% + 1px);
  z-index: 5;
  background-color: rgba(210, 210, 215, 0.64);
  min-width: 36px;
  min-height: 36px;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
  bottom: calc(0% + 1px);
  left: calc(92% + 1px);
  z-index: 5;
  background-color: rgba(210, 210, 215, 0.64);
  min-width: 36px;
  min-height: 36px;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left:before,
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right:before {
  color: rgba(0, 0, 0, 0.64);
  font-weight: 900;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left:disabled,
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right:disabled {
  opacity: 0.5;
}

.bg-gradient-custom {
  background: linear-gradient(to top left, #ea2543, rgba(255, 8, 0, 0), #8f40f9),
    linear-gradient(to top right, #0568f1, rgba(255, 153, 150, 0.979), #ef3205);
}

/* .bg-gradient-custom:after {
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
        background: linear-gradient(to top left, #eb3347, rgba(255, 8, 0, 0), #be8ff9), linear-gradient(to top right, #70a9e7, rgba(255, 153, 150, 0), #f88d61);
        
} */

.react-multi-carousel-list {
  overflow: visible !important;
}
